<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
  <example></example>

  <hello-world></hello-world>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>

  // 全局组件
  Vue.component('example', {
    template: '<div>hello world</div>'
  })


  var vm = new Vue({
    el: '#app',
    components: {
      'hello-world': {
        template: '<div>hei lo world!</div>'
      }
    }
  })

</script>

</body>
</html>